@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="get" asp-page="index">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <small id="nameHelp" class="form-text text-muted">Enter your name</small>
    </div>
    <div class="mt-3">
        @(await Html.RenderComponentAsync<Button>(RenderMode.Static))
    </div>
</form>